<% @events.each do |event| %>
	<h2 class="blog-post-title"><%= event.venue %></h2>
	<div>
		<p class="blog-post-meta" style="font-weight: bold;"><%= event.date.strftime("%B %d, %Y @ %H:%M") %></p>
		<p class="blog-post-meta"><%= event.description %></p>
		 
		<button id="edit" type="submit" >Edit</button>
		<button id="delete" type="submit">Delete</button>
	</div>

<% end %>

<button id="add" type="submit" onclick="window.location.href='/admin/event'">Add New Event</button>