<h2 class="blog-post-title">Add new event</h2>
<div>
	<p style="font-weight: bold;">Date: <input type="text" id="datepicker" size="30"></p>
	<p style="font-weight: bold;">Venue: <input type="text" id="venue" size="30"></p>
	<p style="font-weight: bold;">Event description:</p>
	<p><textarea></textarea></p>
	<button id="save" type="submit">Save</button>
	<button id="cancel" type="submit">Cancel</button>
</div>