
.container
  / Main hero unit for a primary marketing message or call to action
  .hero-unit
    %h1 Hello, world!
    %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    %p
      %a.btn.btn-primary.btn-large{:href => "#"} Learn more »
  / Example row of columns
  .row
    - (0..2).each do |i| 
      .span4
        %h2 Heading
        
        %p #{@var}
        %p
          %a.btn{:href => "#"} View details »
  / /container
 