<script>
function validateForm() {
    var x = document.forms["subscription"]["email"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        alert("Not a valid e-mail address");
        return false;
    }
}
</script>

<div style="margin-top: 10px">
<p>I would like to get notifications by email</p>

<form name="subscription" action="/subscribe/add" method="post" onsubmit="return validateForm();">
Email address: <input name="email"/><br/>
<button id="save" type="submit">Subscribe</button>
</form>
</div>